<div class="home-container">
  <div class="home-content">
    <div class="d-flex justify-content-between mt-3 mb-3 align-items-center">
      <img src="../../../assets/logo.png">
      <div class="d-flex">
        <p class="username-title" *ngIf="
        (accountService.currentUser$| async) as user">
        {{ user.username }}
        </p>
        <p (click)="logout()" class="logout-title m-0"> Desconectar </p>
      </div>

    </div>
    <div class="list-consult-card">
      <div style="margin-top:35px;" class="d-flex justify-content-between align-items-center">
        <h4 class="m-0">Consulta Clínica</h4>
        <app-buttons class="d-flex" theme="small-blue"  type="submit" imageValue="../../../assets/plus-icon.svg " value="Nova Consulta" (click)="openModalMarcarConsulta()">
        </app-buttons>
      </div>

      <table class="table list-title-table table-borderless">
        <thead>
          <tr>
            <th>Especialidade</th>
            <th>Profissional</th>
            <th>Data</th>
            <th>Hora</th>
            <th></th>
          </tr>
        </thead>
        <tr *ngFor="let consulta of consultas; let i = index" [ngClass]="(i % 2 == 1) ? 'card-gray' :'list-value-table'">
          <td>{{ consulta.medico.especialidade.nome }}</td>
          <td>{{ consulta.medico.nome }}</td>
          <td>{{ consulta.dia | date: 'dd/MM/yyyy'}}</td>
          <td>{{ consulta.horario }}</td>
          <td
            style="display: flex; justify-content: flex-end;"><app-buttons theme="blue-background-none" value="Desmarcar" imageValue="../.././../assets/exclude-icon.svg"
            (click)="openModal($event, template, consulta.id)"></app-buttons></td>
        </tr>
      </table>

    </div>
  </div>
</div>


<app-marcar-consulta *ngIf="showModal" (closeEvent)="closeModal()"></app-marcar-consulta>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar a Consulta {{this.consultaId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
