.login-container {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.login-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 400px;
  max-width: 90%;
  img{
    height: 50px;
    width: 180px;
    margin-bottom: 20px;
  }
  .login-input-container {
    position: relative;
    .input-password-img {
      cursor: pointer;
      right: 11px;
      top:13px;
      position: absolute;
      width: 26px;
    }
  }

}

.label-float {
  position: relative;
  padding-top: 13px;
}

.label-float input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
  min-width: 250px;
  color: var(--black);
  padding: 15px 20px;
  font-size: 16px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance: none;
}


.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  color: var(--gray-light);
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.label-float input:required:invalid+label {
  color: red;
}

.label-float input:focus:required:invalid {
  border: 2px solid red;
}

.label-float input:required:invalid+label:before {
  content: '*';
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
  font-size: 13px;
  top: 0;
  color: var(--gray-light);
}
