.cadastro-container {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.cadastro-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 400px;
  max-width: 90%;
  img{
    height: 50px;
    width: 180px;
  }
  h4{
    margin: 17px 0;
  }

  .cadastro-input-container {
    position: relative;
    .input-password-img {
      cursor: pointer;
      right: 11px;
      top:-4px;
      position: absolute;
      width: 26px;
    }
  }


}
